In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import zipfile
import os

zip_ref = zipfile.ZipFile('/content/drive/MyDrive/dataset/WCdata.zip', 'r')
zip_ref.extractall('/content/ML')
zip_ref.close()

In [ ]:
os.chdir("/content/ML")
!ls

WorldCupMatches.csv  WorldCupPlayers.csv  WorldCups.csv

In [ ]:
df1=pd.read_csv('/content/ML/WorldCupMatches.csv')
df2=pd.read_csv('/content/ML/WorldCupPlayers.csv')
df3=pd.read_csv('/content/ML/WorldCups.csv')

In [ ]:
df1.shape

(4572, 20)

In [ ]:
df3.head(10)

In [ ]:
df3.tail(10)

In [ ]:
df2.describe

In [ ]:
df2.shape

In [ ]:
print(df1.columns)

In [ ]:
print(len(df2.columns))

In [ ]:
df3.shape

(20, 10)

In [ ]:
df2.head(3)

In [ ]:
dx=df2

**Cleaning Empty Cells**

In [ ]:
df1.isnull().sum()

In [ ]:
df4=df2.dropna()

In [ ]:
df4.shape

(573, 9)

Using thresh value

In [ ]:
df5=df2.dropna(thresh=9)

In [ ]:
df5.shape

(573, 9)

In [ ]:
Using axis parameter

In [ ]:
df6=df2.dropna(axis=1)

In [ ]:
df6.head(2)

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO

**Using how parameter**

In [ ]:
df7=df2.dropna(how='all')

In [ ]:
df7.shape

(37784, 9)

**Replace Empty Values**

In [ ]:
dx.fillna(130, inplace = True)

**Replace Using Mean, Median, or Mode**

In [ ]:
data = {
  "Calories": [420, 380, None,400,360,425,410],
  "duration": [50, 40, 45,None,60,70,None],
  "Time": [None,25,None,None,35,45,25]
}


dft = pd.DataFrame(data)

print(dft)

In [ ]:
x = dft["Calories"].mean()
y = dft["duration"].mean()
z = dft["duration"].mean()

In [ ]:
print(x)

In [ ]:
dft["Calories"].fillna(x, inplace = True)

In [ ]:
print(dft)

   Calories  duration
0     420.0        50
1     380.0        40
2     400.0        45

In [ ]:
print(dft)

**Replace Null Value**

In [ ]:
dfi=dft.fillna(130)

In [ ]:
print(dfi)

   Calories  duration   Time
0     420.0      50.0  130.0
1     380.0      40.0   25.0
2     130.0      45.0  130.0
3     400.0     130.0  130.0
4     360.0      60.0   35.0
5     425.0      70.0   45.0
6     410.0     130.0   25.0

In [ ]:
df.fillna(130, inplace = True)

**Remove Wrong Data**

In [ ]:
dr=df2

In [ ]:
dr.head(10)

In [ ]:
dr1=dft

In [ ]:
dr1

   Calories  duration
0     420.0        50
1     380.0        40
2     400.0        45

In [ ]:
for i in dr1.index:
  if dr1.loc[i, "Calories"] > 400:
    dr1.loc[i, "Calories"] = 400

In [ ]:
print(dr1)

   Calories  duration
0     400.0        50
1     380.0        40
2     400.0        45

In [ ]:
for x in dr1.index:
  if dr1.loc[x, "duration"] > 45:
    dr1.drop(x, inplace = True)

**Removing Duplicates**

In [ ]:
print(df2.duplicated())

In [ ]:
df2.shape

(37048, 9)

In [ ]:
dd=df2

In [ ]:
dd.drop_duplicates(inplace = True)

In [ ]:
dd.shape

(37048, 9)

**Data Analysis**

In [ ]:
ndf=df3

In [ ]:
ndf.head(5)

In [ ]:
ndf.iloc[1:7,3:5]

In [ ]:
ndf.head(20).plot(kind='bar', figsize=(20,8))
plt.show()

In [ ]:
sorted_by = ndf.sort_values(['Winner','Runners-Up'], ascending=True)
sorted_by.describe

In [ ]:
ndf["GoalsScored"].mean()

In [ ]:
df3.head(2)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
encdf=pd.DataFrame(enc.fit_transform(ndf).toarray())

In [ ]:
encdf.head(10)

In [ ]:
z=encdf.to_numpy()
print(z)

In [ ]:
nnddf=pd.concat([df1,df3])

In [ ]:
nnddf.head(2)